<div class="modal-window-wrapper user-profile-modal">
    <div class="modal-window">
        <div class="user-avatar-box">
            <div class="user-avatar"></div>

            <input type="file" style="display: none;" value="+" id="add-user-avatar" />
            <label class="user-avatar-label" for="add-user-avatar">+</label>
        </div>
        <p class="user-name">name</p>
        <form class="change-name-form" action="">
            <input class="change-name-form-input" type="text">
            <button class="change-name-form-button">Log out</button>
        </form>
    </div>
</div>