<load src="components/ModalWindows/UserProfile/modal-user-profile.html" />
<header class="header">
  <div class="container header-container">
    <a class="header-logo global-css" href="/">Logo</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="./home.html" class="nav-link">Home</a>
        </li>
      </ul>
    </nav>
    <div>

      <button class="header-theme-switch">switch theme</button>
    </div>
    <div class="header-user"></div>
  </div>
</header>