html,
body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f5f7fa;
  font-size: 14px;
  overflow-x: hidden;

  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}
